/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--main-color);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.pseudoelement {
  position: relative;
}

.pseudoelement::before,
.pseudoelement::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.pseudoelement::before {
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  bottom: 1px;
}

.pseudoelement::after {
  border-right: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
  right: 1px;
}

p {
  color: var(--text-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

button {
  background: none;
  border: none;
  padding: none;
  cursor: pointer;
}

.header {
  margin: 10px;
  display: grid;
  grid-template-rows: 228px 192px 228px;
  grid-template-columns: 2fr 1fr;
}

.header__decorated {
  grid-row-start: 1;
  grid-column-start: 2;
  justify-self: end;
  width: fit-content;
  height: fit-content;
}

.header__decorated-rec-element {
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
  border-radius: 50%;
  margin-inline-end: 9px;
}

@media not screen 
 {
  .header__decorated-rec-element {
    display: none;
  }
}

.header__decorated-rec {
  display: inline-block;
  color: #FF0070;
  text-align: center;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
  padding-right: 10px;
}

.header__theme-menu {
  grid-row-start: 1;
  width: fit-content;
  height: fit-content;
  grid-column-start: 2;
  align-items: center;
  justify-self: end;
  margin-top: 70px;
}

.header__theme-menu-button {
  padding: 0px 13px;  
  color: var(--header-menu-color);
  text-align: center;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: lowercase;
}

.header__theme-menu-button:focus-visible {
  outline: 0;
  border-bottom: 1px solid var(--header-menu-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--header-menu-color);
}

.header__theme-menu-button:active {
  border: 1px solid var(--header-menu-color);
}

.header__theme-menu-list {
  width: fit-content;
  display: flex;
  gap: 13px;
  flex-direction: column;
}

.header__title {
  position: relative;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--shadow-title);
  font-family: IBM Plex Mono;
  font-size: 116px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 129.525px */
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.header__block-text {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 55px;
  width: 355px;
}

.header__text {
  color: #000028;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */  
  background-color: var(--accent-color);

}

.section {
  margin: 50px 10px 0 10px;
}

.section_one {
  margin-top: 50px;
}

.section_subtitle {
  background-color: var(--accent-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  margin-top: 20px;
  margin-bottom: 10px;
}

.section_title {
  color: var(--accent-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.section_image-gallery {
  width: auto;
  
}

.image_gallery {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.footer {
  margin: 30px 10px 10px 10px;
  height: 647px;
}

.footer_title {
  padding-top: 276px;
  text-align:center;
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--shadow-title);
  font-family: IBM Plex Mono;
  font-size: 116px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 129.525px */
}

.pseudoelement-footer {
  position: relative;
}

.pseudoelement-footer::before,
.pseudoelement-footer::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.pseudoelement-footer::before {
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  bottom: 1px;
}

.pseudoelement-footer::after {
  border-right: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
  right: 1px;
  top: 1px;
}

@media (min-width: 768px) {

  .header,
  .section,
  .footer {
    margin: 0 20px;
  }

  .header {
    margin-top: 20px;
    grid-template-rows: 443px 99px 442px;
  }

  .header__theme-menu {
    margin-top: 173px;
  }

  .header__title {
    position: relative;
    left: -20px;
  }

  .header__block-text {
    justify-self: end;
    margin-top: 162px;
    width: 364px;
  }

  .section_one {
    display: grid;
    grid-template-columns: 33% 1fr;
    grid-column-gap: 10px;
    margin-top: 60px;
  }

  .section_one_title {
    margin-top: 20px;
    width: 236px;
  }

  .section_two {
    margin-top: 80px;
  }

  .section_two_title {
    width: 236px;
  }

  .section_three {
    display: grid;
    grid-template-columns: 33% 1fr;
    grid-column-gap: 20px;
    margin-top: 80px;
  }

  .section_three-title {
    margin-top: 0;
  }

  .section_three-card {
    width: 472px;
  }

  .section_image {
    margin-top: 80px;
  }
  
  .section_image_title {
    margin-bottom: 20px;
  }
  
  .section_image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 1fr 318px;
    gap: 20px;
  }
  
  .books {
    width: 230px;
    height: 230px;
    grid-area: 2 / 2 / 3 / 3;
  }
  
  .icecream {
    grid-area: 1 / 3 / 3 / 4;
    width: 229px;
    height: 441px;
  }
  
  .street {
    grid-area: 3 / 2 / 4 / 4;
    width: 479px;
    height: 318px;
  }
  
  .sunset {
    grid-area: 1 / 1 / 2 / 3;
    width: 479px;
    height: 192px;
  }
  
  .tape {
    grid-area: 2 / 1 / 4 / 2;
    width: 229px;
    height: 568px;
  }

  .footer {
    height: 984px;
    margin-top: 80px;
    margin-bottom: 20px;
  }

  .footer_title {
    padding-top: 443px;
  }
}

@media (min-width: 1024px) {

  .header {
    display: grid;
    grid-template-rows: 299px 130px 299px;
    grid-template-columns: 2fr 1fr;
  }

  .header__theme-menu {
    grid-row-start: 1;
    width: fit-content;
    height: fit-content;
    grid-column-start: 1;
    grid-column-end:;
    margin-top: 0;
    margin-right: 50px;
  }

  .header__theme-menu-list {
    width: fit-content;
    display: flex;
    flex-direction:row;
    gap: 10px;
  }

  .header__title {
    font-size: 157px;
  }

  .header__block-text {
    margin-top: 114px;
    width: 491px;
  }

  .section_one_title,
  .section_two_title {
    width: 314px;
  }

  .section_two {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 47px 1fr;
    gap: 20px;
  }

  .section_two_title {
    grid-area: 1 1 2 3;
  }
  
  .section_two-card {
    grid-row-start: 2;
  }

  .section_two_subtitle {
    margin-top: 0;
  }

  .section_three-card {
    width: fit-content;
  }

  .section_image-gallery {
    grid-template-rows: 260px 1fr 428px;
    gap: 20px;
  }
  
  .books {
    width: 315px;
    height: 315px;
  }
  
  .icecream {
    width: 315px;
    height: 595px;
  }
  
  .street {
    width: 649px;
    height: 428px;
  }
  
  .sunset {
    width: 649px;
    height: 260px;
  }
  
  .tape {
    width: 315px;
    height: 768px;
  }

  .footer {
    height: 728px;

  }

  .footer_title {
    padding-top: 299px;
    font-size: 157px;
  }
}